name: Rust CI

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]

jobs:
  build-test-lint:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: platform_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-

      - name: Install additional dependencies
        run: sudo apt update && sudo apt install -y protobuf-compiler libprotobuf-dev libpq-dev

      - name: Cache cargo build
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-build-

      - name: Run migrations
        run: |
          cargo install sqlx-cli --version 0.8.6 --no-default-features --features postgres
          sqlx migrate run --source backend/crates/infra/migrations
        env:
          DATABASE_URL: postgres://postgres:postgres@localhost:5432/platform_db

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
        env:
          APP_DATABASE__CONNECTION_STRING: postgres://postgres:postgres@localhost:5432/platform_db

      - name: Run cargo test
        run: cargo test --all
        env:
          APP_DATABASE__CONNECTION_STRING: postgres://postgres:postgres@localhost:5432/platform_db
